@use 'base' as *;

.preview {
  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      padding: 1.5rem 2rem;
      transition: all 0.2s;
      border-bottom: 1px solid $color-border;
      text-decoration: none;

      @media only screen and (max-width: $bp-medium) {
        padding: 1.2rem 1.5rem;
      }
    }

    &:hover {
      background-color: $color-hover;
    }

    &--active {
      background-color: $color-bg-secondary;
      border-left: 3px solid $color-accent;
    }
  }

  &__fig {
    flex: 0 0 6rem;
    border-radius: 0.4rem;
    overflow: hidden;
    height: 9rem;
    margin-right: 1.5rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.08);

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 4.5rem;
      height: 6.5rem;
      margin-right: 1.2rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 0.4rem;
  }

  &__title {
    font-size: 1.5rem;
    color: $color-text;
    font-weight: 500;

    // Text truncation
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
      -webkit-line-clamp: 2;
    }
  }

  &__author {
    font-size: 1.3rem;
    color: $color-text-light;
    font-weight: 400;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem;
    }
  }

  &__user-generated {
    background-color: $color-bg-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-left: auto;

    svg {
      height: 1.2rem;
      width: 1.2rem;
      fill: $color-accent;
    }
  }
}
